@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'bitters/bitters';

$brown: #4d433e;
$dark-green: #323627;
$light-green: #424627;

p:first-child {
	margin-top:0;
}
p:last-child {
	margin-bottom:0;
}

html, body {
	padding:0;
	margin:0;
}
header, footer, #hero, #main {
	padding:2em;
	.inner {
		@include outer-container;
	}
}
header {
	background: url('../images/mountain.jpg') center top;
	background-size: cover;
	color: #ffffff;
	text-align: center;

	/* Adjust for image */
	padding-top:9em;
	padding-bottom:10em;
	min-height:7em;

	h1 {
		font-weight: normal;
		font-size: 5em;
		line-height: 1em;
		padding-bottom: 0.7em;
	}
	div div {
		font-size: 2.5em;
		line-height: 1.5em;
		margin: 0 auto;
		max-width: 90%;
	}
}
#hero {
	background: $dark-green;
	color: #ffffff;
	text-align: center;
	p {
		font-size:2em;
		line-height: 1em;
	}
}
#main h1, #main h2, #main h3 {
  margin-bottom: 0.7em;
}
#main .inner p {
	font-size: 1.5em;
}
.essays {
	a {
		display: block;
	}
}
footer {
	background: darken($dark-green, 5%);
	color: #ffffff;
	a {
		background: darken($dark-green, 7%);
		color: #ffffff;
		display: inline-block;
		font-size: 2em;
		line-height: 1em;
		margin:0 1em 0 0;
		padding: 0.5em 0.5em 0.6em;
		text-align: center;
		vertical-align: center;
		&:hover {
			color: #cccccc;
		}
	}
}